{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Ward :: {% block title %}main{% endblock %}</title>

        <!-- jQuery Theme -->
        <link rel="stylesheet" href="{% static 'jquery-ui/themes/smoothness/jquery-ui.min.css' %}" />

        <!-- JUI for Bootstrap -->
        <link rel="stylesheet" href="{% static 'jui/dist/jui.min.css' %}" />
        <link rel="stylesheet" href="{% static 'jui/dist/jennifer.theme.min.css' %}" />

        <!-- Custom CSS -->
        {% block css %}{% endblock %}
    </head>
    <body class="jui">
        {% block content %}
        {% endblock %}

        <!-- jQuery -->
        <script type="text/javascript" src='{% static 'jquery/dist/jquery.min.js' %}'></script>
        <script type="text/javascript" src='{% static 'jquery-ui/jquery-ui.min.js' %}'></script>

        <!-- JUI for Bootstrap -->
        <script src="{% static 'jui/dist/jui.min.js' %}"></script>

        <!-- Custom Script -->
        {% block script %}{% endblock %}
    </body>
</html>