{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Ward :: {% block title %}main{% endblock %}</title>
    <meta name="author" content="Donghyun Seo">
    <meta name="description" content="Hot issues, hot people and analysis for a facebook group.">
    <meta name="keywords" content="facebook,group,analysis">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'font-awesome-animation/dist/font-awesome-animation.min.css' %}" rel="stylesheet"
          type="text/css">

    <!-- jQuery Theme -->
    <link rel="stylesheet" href="{% static 'jquery-ui/themes/smoothness/jquery-ui.min.css' %}"/>

    <!-- JUI for Bootstrap -->
    <!-- Basic style components -->
    <link rel="stylesheet" href="{% static 'jui/dist/ui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'jui/dist/ui-jennifer.min.css' %}"/>
    <!-- Grid style components -->
    <link rel="stylesheet" href="{% static 'jui-grid/dist/grid.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'jui-grid/dist/grid-jennifer.min.css' %}"/>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- SB Admin 2 CSS -->
    <link href="{% static 'metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">
    <link href="{% static 'startbootstrap-sb-admin-2/dist/css/timeline.css' %}" rel="stylesheet">
    <link href="{% static 'startbootstrap-sb-admin-2/dist/css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Bootstrap Social -->
    <link rel="stylesheet" href="{% static 'bootstrap-social/bootstrap-social.css' %}"/>

    <!-- jqPlot -->
    <link rel="stylesheet" type="text/css" href="{% static 'jqplot-bower/dist/jquery.jqplot.min.css' %}"/>

    <!-- Custom CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css"/>
    {% block css %}{% endblock %}

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'images/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{% static 'images/ward.png' %}" width="25px;"
                                                  style="display: inline;"/> Ward</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a target="_blank" href="{% url 'about' %}">about</a>
            </li>
            {% if user.is_authenticated %}
                <li class="dropdown">
                    <a id="alert_icon" class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i id="alert_icon_bell" class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul id="alert" class="dropdown-menu dropdown-messages">
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a>Hello! {{ user.username }}</a></li>
                        <li class="divider"></li>
                        {% if user.is_staff %}
                            <li><a href="/admin"><i class="fa fa-user fa-fw"></i>Admin</a></li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li><a href="{% url 'archive:reports' %}"><i class="fa fa-tasks fa-fw"></i>Reports</a></li>
                            <li><a href="{% url 'archive:groups_admin' %}"><i class="fa fa-group fa-fw"></i>Groups</a>
                            </li>
                        {% endif %}
                        <li><a href="{% url 'archive:wards' %}"><i class="fa fa-files-o fa-fw"></i>Wards</a></li>
                        <li><a href="{% url 'auth_password_change' %}"><i class="fa fa-gear fa-fw"></i>Password
                            change</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'auth_logout' %}"><i class="fa fa-sign-out fa-fw"></i>Sign out</a></li>

                        <!-- /.dropdown-user -->
                    </ul>
                </li>
                <!-- /.dropdown -->
            {% else %} 
                <li><a href="{% url 'auth_login' %}"><i class="fa fa-sign-in fa-fw"></i>Sign in</a></li> 
            {% endif %}
        </ul>
        {% block sidebar %}
        {% endblock %}

        <!-- /.navbar-static-side -->
    </nav>
</div>

{% block content %}
{% endblock %}

<!-- Modal -->
<div class="modal fade" id="save_img" tabindex="-1" role="dialog" aria-labelledby="save_img_label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="save_img_label">Save as image</h4>
            </div>
            <div class="modal-body">
                <div style="overflow: auto; text-align: center;" id="img-out"></div>
                <br>

                <div style="color: red;">
                    <h4 style="text-align: center;">Caution</h4>
                    <ol>
                        <li>If you use safari browser, download does not work well. Please use 'save image as..' with
                            'right mouse button'.
                        </li>
                        <li>This image is affected by original chart size. If you want to get large size image, please
                            resize your browser and download again.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="download_img_btn" target="_blank">DOWNLOAD ME!</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- alarm template -->
<script id="tpl_alarm" type="text/template">
    <div class="jui">
        <div class="notify <!= color !>">
            <div class="title"><!= title !></div>
            <div class="message"><!= message !></div>
        </div>
    </div>
</script>
<!-- / alarm template -->

<!-- jQuery -->
<script type="text/javascript" src='{% static 'jquery/dist/jquery.min.js' %}'></script>
<script type="text/javascript" src='{% static 'jquery-ui/jquery-ui.min.js' %}'></script>

<!-- JUI for Bootstrap -->
<!-- Required script files -->
<script src="{% static 'jui-core/dist/core.min.js' %}"></script>
<!-- Basic script components -->
<script src="{% static 'jui/dist/ui.min.js' %}"></script>
<!-- Grid script components -->
<script src="{% static 'jui-grid/dist/grid.min.js' %}"></script>

<!-- JS Cookie -->
<script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>

<!-- jqPlot -->
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{% static 'jqplot-bower/dist/excanvas.min.js' %}"></script>
<![endif]-->
<script language="javascript" type="text/javascript"
        src="{% static 'jqplot-bower/dist/jquery.jqplot.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'metisMenu/dist/metisMenu.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'startbootstrap-sb-admin-2/dist/js/sb-admin-2.js' %}"></script>

<!-- html2canvas Javascript -->
<script src="{% static 'html2canvas/build/html2canvas.min.js' %}" type="text/javascript"></script>

<!-- Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-71542471-1', 'auto');
    ga('send', 'pageview');
</script>

<!--
    https://opensourcehacker.com/2012/01/09/zoom-on-orientation-change-fix-for-mobile-
    browsers-mobilizing-websites-with-responsive-design-and-html5-part-8/

    Don't break scale on iPad rotate.

    By default iPad re-zooms the page when the device orientation changes.
    The heuristics here do not work always; our page got zoomed in
    though it should be max zoomed out.

    This snippet fixes the situation so that you can still zoom in, but when
    the device is rotated the scale is restored.

   -->
<script type="text/javascript">
    (function (doc) {

        var addEvent = 'addEventListener',
                type = 'gesturestart',
                qsa = 'querySelectorAll',
                scales = [1, 1],
                meta = qsa in doc ? doc[qsa]('meta[name=viewport]') : [];

        function fix() {
            meta.content = 'width=device-width,minimum-scale=' + scales[0] + ',maximum-scale=' + scales[1];
            doc.removeEventListener(type, fix, true);
        }

        if ((meta = meta[meta.length - 1]) && addEvent in doc) {
            fix();
            scales = [.25, 1.6];
            doc[addEvent](type, fix, true);
        }

    }(document));
</script>

<!-- no image -->
<script type="text/javascript">
    window.no_image_error = "if (this.src != '{% static 'images/no_image.png' %}') this.src = '{% static 'images/no_image.png' %}';";
</script>

{% if user.is_authenticated %}
    <script type="text/javascript">
        $(function () {
            getAlert('{{ user.id }}');
        });
    </script>
{% endif %}

<!-- Custom Script -->
<script src="{% static 'js/base.js' %}" type="text/javascript"></script>
<script src="{% static 'js/ajax.js' %}" type="text/javascript"></script>
<script src="{% static 'js/archive/js/archive.js' %}" type="text/javascript"></script>
{% block script %}{% endblock %}
</body>
</html>
