django==1.8.5
celery==3.1.18
django-celery==3.1.17
git+https://github.com/pythonforfacebook/facebook-sdk.git
mezzanine==4.0.1
redis==2.10.3
djangorestframework==3.3.0
markdown==2.6.3
django-filter==0.11.0
beautifulsoup4==4.4.1
lxml==3.5.0
django-registration==2.0.2
JPype1-py3==0.5.5.2
konlpy==0.4.4
django-allauth==0.24.1
uwsgi==2.0.11.2

psycopg2==2.6.1
