{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ group.name }}{% endblock %}

{% block css %}
{% endblock %}

{% block sidebar %}
    {% include 'archive/group/sidebar.html' %}
{% endblock %}

{% block content %}
    <div id="page-wrapper">

        {% block header %}
            {% include 'archive/group/archive_header.html' %}
        {% endblock %}

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Group Statistics
                        <div class="pull-right">
                            <input type="text" class="input-xs" id="statistics_from" placeholder="From"/>
                            <input type="text" class="input-xs" id="statistics_to" placeholder="To"/>

                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a value="reset" onclick="controllerStatisticsPlot.resetZoom();">
                                            Refresh
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a onclick="changeStatistics('year', $('#statistics_from').val(), $('#statistics_to').val());">Year</a>
                                    </li>
                                    <li>
                                        <a onclick="changeStatistics('month', $('#statistics_from').val(), $('#statistics_to').val());">Month</a>
                                    </li>
                                    <li>
                                        <a onclick="changeStatistics('day', $('#statistics_from').val(), $('#statistics_to').val());">Day</a>
                                    </li>
                                    <li>
                                        <a onclick="changeStatistics('hour', $('#statistics_from').val(), $('#statistics_to').val());">Hour</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="jqPlot" id="chart1"></div>
                        <div class="jqPlot" id="chart2" style="margin-top: 30px; height:100px;"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Time Overview
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a value="reset" onclick="controllerTotalHourStatisticsPlot.resetZoom();">
                                            Refresh
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="jqPlot" id="chart3"></div>
                        <div class="jqPlot" id="chart4" style="margin-top: 30px; height:100px;"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>

            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-feed fa-fw"></i> Post Hot Issue
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li style="text-align: center;">
                                        <label for="post_issue_limit">Limit</label>
                                        <input type="text" class="input" id="post_issue_limit" placeholder="Limit"
                                               value="10" style="width: 80%; text-align: center;"/>
                                    </li>
                                    <li class="divider"></li>
                                    <li style="text-align: center;">
                                        <input type="text" class="input" id="post_issue_from" placeholder="From"
                                               style="width: 80%; text-align: center;"/>
                                    </li>
                                    <li class="divider"></li>
                                    <li style="text-align: center;">
                                        <input type="text" class="input" id="post_issue_to" placeholder="To"
                                               style="width: 80%; text-align: center;"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body jui">
                        <table id="post_issue_table" class="table simple hover borderless">
                            <colgroup>
                                <col style="width: 60px;">
                                <col style="width: 100px;">
                                <col style="width: 60%;">
                                <col style="width: 20%;">
                                <col style="width: 20%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th></th>
                                <th style="text-align: center;"><i class="icon-user"></i> From</th>
                                <th style="text-align: center;"><i class="icon-report"></i> Message</th>
                                <th style="text-align: center;"><i class="icon-like"></i> Like</th>
                                <th style="text-align: center;"><i class="icon-message"></i> Comment</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        <div id="post_issue_paging" class="paging" style="margin-top: 3px;">
                            <a href="#" class="prev">Previous</a>

                            <div class="list"></div>
                            <a href="#" class="next">Next</a>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>

            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-comments fa-fw"></i> Comment Hot Issue
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li style="text-align: center;">
                                        <label for="post_issue_limit">Limit</label>
                                        <input type="text" class="input" id="comment_issue_limit" placeholder="Limit"
                                               value="10" style="width: 80%; text-align: center;"/>
                                    </li>
                                    <li class="divider"></li>
                                    <li style="text-align: center;">
                                        <input type="text" class="input" id="comment_issue_from" placeholder="From"
                                               style="width: 80%; text-align: center;"/>
                                    </li>
                                    <li class="divider"></li>
                                    <li style="text-align: center;">
                                        <input type="text" class="input" id="comment_issue_to" placeholder="To"
                                               style="width: 80%; text-align: center;"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body jui">
                        <table id="comment_issue_table" class="table simple hover borderless">
                            <colgroup>
                                <col style="width: 60px;">
                                <col style="width: 100px;">
                                <col style="width: 60%;">
                                <col style="width: 20%;">
                                <col style="width: 20%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th></th>
                                <th style="text-align: center;"><i class="icon-user"></i> From</th>
                                <th style="text-align: center;"><i class="icon-report"></i> Message</th>
                                <th style="text-align: center;"><i class="icon-like"></i> Like</th>
                                <th style="text-align: center;"><i class="icon-message"></i> Comment</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        <div id="comment_issue_paging" class="paging" style="margin-top: 3px;">
                            <a href="#" class="prev">Previous</a>

                            <div class="list"></div>
                            <a href="#" class="next">Next</a>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
    </div><!--row end-->
    <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-feed fa-fw"></i> Post Archive List
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li style="text-align: center;">
                                        <label for="post_issue_limit">Limit</label>
                                        <input type="text" class="input" id="post_archive_limit" placeholder="Limit"
                                               value="10" style="width: 80%; text-align: center;"/>
                                    </li>
                                    <li class="divider"></li>
                                    <li style="text-align: center;">
                                        <input type="text" class="input" id="post_archive_from" placeholder="From"
                                               style="width: 80%; text-align: center;"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body jui">
                        <table id="post_archive_table" class="table simple hover borderless">
                            <colgroup>
                                <col style="width: 60px;">
                                <col style="width: 100px;">
                                <col style="width: 60%;">
                                <col style="width: 20%;">
                                <col style="width: 20%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th></th>
                                <th style="text-align: center;"><i class="icon-user"></i> From</th>
                                <th style="text-align: center;"><i class="icon-report"></i> Message</th>
                                <th style="text-align: center;"><i class="icon-like"></i> Like</th>
                                <th style="text-align: center;"><i class="icon-message"></i> Comment</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        <div id="post_archive_paging" class="paging" style="margin-top: 3px;">
                            <a href="#" class="prev">Previous</a>

                            <div class="list"></div>
                            <a href="#" class="next">Next</a>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>

            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-comments fa-fw"></i> Comment Archive List
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li style="text-align: center;">
                                        <label for="post_issue_limit">Limit</label>
                                        <input type="text" class="input" id="comment_archive_limit" placeholder="Limit"
                                               value="10" style="width: 80%; text-align: center;"/>
                                    </li>
                                    <li class="divider"></li>
                                    <li style="text-align: center;">
                                        <input type="text" class="input" id="comment_archive_from" placeholder="From"
                                               style="width: 80%; text-align: center;"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body jui">
                        <table id="comment_archive_table" class="table simple hover borderless">
                            <colgroup>
                                <col style="width: 60px;">
                                <col style="width: 100px;">
                                <col style="width: 60%;">
                                <col style="width: 20%;">
                                <col style="width: 20%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th></th>
                                <th style="text-align: center;"><i class="icon-user"></i> From</th>
                                <th style="text-align: center;"><i class="icon-report"></i> Message</th>
                                <th style="text-align: center;"><i class="icon-like"></i> Like</th>
                                <th style="text-align: center;"><i class="icon-message"></i> Comment</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        <div id="comment_archive_paging" class="paging" style="margin-top: 3px;">
                            <a href="#" class="prev">Previous</a>

                            <div class="list"></div>
                            <a href="#" class="next">Next</a>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.page-wrapper -->
{% endblock %}


{% block script %}
    <script src="{% static 'js/archive/js/archive.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/archive/js/analysis.js' %}" type="text/javascript"></script>
    <script class="include" type="text/javascript"
            src="{% static 'jqplot-bower/dist/plugins/jqplot.cursor.min.js' %}"></script>
    <script class="include" type="text/javascript"
            src="{% static 'jqplot-bower/dist/plugins/jqplot.dateAxisRenderer.min.js' %}"></script>
    <script class="include" type="text/javascript"
            src="{% static 'jqplot-bower/dist/plugins/jqplot.highlighter.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'jqplot-bower/dist/plugins/jqplot.canvasTextRenderer.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'jqplot-bower/dist/plugins/jqplot.canvasAxisLabelRenderer.min.js' %}"></script>

    <!--Draw extra rows-->
    <script id="tpl_row" type="text/template">
        <tr>
            <td style="text-align: right;"><!= picture !></td>
            <td><!= from !></td>
            <td><!= message !></td>
            <td style="text-align: center;"><!= like_count !></td>
            <td style="text-align: center;"><!= comment_count !></td>
        </tr>
    </script>

    <script id="tpl_none" type="text/template">
        <tr>
            <td colspan="5" class="none" align="center">Data does not exist.</td>
        </tr>
    </script>

    <script id="tpl_pages" type="text/template">
        <! for(var i = 0; i < pages.length; i++) { !>
        <a href="#" class="page"><!= pages[i] !></a>
        <! } !>
    </script>

    <script>
        var statistics_method = 'month'

        var post_issue_limit = 10;
        var comment_issue_limit = 10;
        var post_archive_limit = 10;
        var comment_archive_limit = 10;

        var statistics_url = "/api/groups/{{ group.id }}/statistics/";
        var post_issue_url = "/api/groups/{{ group.id }}/post_issue/";
        var comment_issue_url = "/api/groups/{{ group.id }}/comment_issue/";
        var post_archive_url = "/api/groups/{{ group.id }}/post_archive/";
        var comment_archive_url = "/api/groups/{{ group.id }}/comment_archive/";


        /**
         * Generate Hot Issue
         */
        jui.ready(["ui.paging", "uix.table"], function (paging, table) {
            post_issue_paging = paging("#post_issue_paging", {
                pageCount: 10,
                screenCount: 10,
                event: {
                    page: function (pNo) {
                        getIssue(post_issue_url, post_issue_table, post_issue_limit, $("#post_issue_from").val(), $("#post_issue_to").val(), pNo);
                    }
                },
                tpl: {
                    pages: $("#tpl_pages").html()
                }
            });

            post_issue_table = table("#post_issue_table", {
                fields: ["", "from", "message", "like_count", "comment_count"],
                scroll: true,
                scrollHeight: 500,
                resize: true,
                event: {
                    sort: function (column, e) {
                        var className = {
                            "desc": "icon-arrow1",
                            "asc": "icon-arrow3"
                        }[column.order];

                        $(column.element).children("i").remove();
                        $(column.element).append("<i class='" + className + "'></i>");
                    }
                },
                tpl: {
                    row: $("#tpl_row").html(),
                    none: $("#tpl_none").html()
                }
            });

            comment_issue_paging = paging("#comment_issue_paging", {
                pageCount: 10,
                screenCount: 10,
                event: {
                    page: function (pNo) {
                        getIssue(comment_issue_url, comment_issue_table, comment_issue_limit, $("#comment_issue_from").val(), $("#comment_issue_to").val(), pNo);
                    }
                },
                tpl: {
                    pages: $("#tpl_pages").html()
                }
            });

            comment_issue_table = table("#comment_issue_table", {
                fields: ["", "from", "message", "like_count", "comment_count"],
                scroll: true,
                scrollHeight: 500,
                resize: true,
                event: {
                    sort: function (column, e) {
                        var className = {
                            "desc": "icon-arrow1",
                            "asc": "icon-arrow3"
                        }[column.order];

                        $(column.element).children("i").remove();
                        $(column.element).append("<i class='" + className + "'></i>");
                    }
                },
                tpl: {
                    row: $("#tpl_row").html(),
                    none: $("#tpl_none").html()
                }
            });
        });

        /**
         * Generate Archive
         */
        jui.ready(["ui.paging", "uix.table"], function (paging, table) {
            post_archive_paging = paging("#post_archive_paging", {
                pageCount: 10,
                screenCount: 10,
                event: {
                    page: function (pNo) {
                        getArchive(post_archive_url, post_archive_table, post_archive_limit, $("#post_archive_from").val(), pNo);
                    }
                },
                tpl: {
                    pages: $("#tpl_pages").html()
                }
            });

            post_archive_table = table("#post_archive_table", {
                fields: ["", "from", "message", "like_count", "comment_count"],
                scroll: true,
                scrollHeight: 500,
                resize: true,
                event: {
                    sort: function (column, e) {
                        var className = {
                            "desc": "icon-arrow1",
                            "asc": "icon-arrow3"
                        }[column.order];

                        $(column.element).children("i").remove();
                        $(column.element).append("<i class='" + className + "'></i>");
                    }
                },
                tpl: {
                    row: $("#tpl_row").html(),
                    none: $("#tpl_none").html()
                }
            });

            comment_archive_paging = paging("#comment_archive_paging", {
                pageCount: 10,
                screenCount: 10,
                event: {
                    page: function (pNo) {
                        getArchive(comment_archive_url, comment_archive_table, comment_archive_limit, $("#comment_archive_from").val(), pNo);
                    }
                },
                tpl: {
                    pages: $("#tpl_pages").html()
                }
            });

            comment_archive_table = table("#comment_archive_table", {
                fields: ["", "from", "message", "like_count", "comment_count"],
                scroll: true,
                scrollHeight: 500,
                resize: true,
                event: {
                    sort: function (column, e) {
                        var className = {
                            "desc": "icon-arrow1",
                            "asc": "icon-arrow3"
                        }[column.order];

                        $(column.element).children("i").remove();
                        $(column.element).append("<i class='" + className + "'></i>");
                    }
                },
                tpl: {
                    row: $("#tpl_row").html(),
                    none: $("#tpl_none").html()
                }
            });
        });

        /**
         * Generate Date Picker
         */
        $(function () {
            $("#statistics_from, #post_issue_from, #comment_issue_from, #post_archive_from, #comment_archive_from").datepicker({
                dateFormat: 'yy-mm-dd',
                showMonthAfterYear: true,
                autoSize: true,

                showOtherMonths: true,
                selectOtherMonths: true,

                maxDate: 0,

                changeMonth: true,
                changeYear: true,
                onClose: function (selectedDate) {
                    $("#statistics_to").datepicker("option", "minDate", selectedDate);
                    $("#post_issue_to").datepicker("option", "minDate", selectedDate);
                    $("#comment_issue_to").datepicker("option", "minDate", selectedDate);
                },
                onSelect: function () {
                    if (this.id == 'statistics_from') {
                        console.log('test')
                        changeStatistics(statistics_method, $("#statistics_from").val(), $("#statistics_to").val());
                    }
                }
            });

            $("#statistics_to, #post_issue_to, #comment_issue_to").datepicker({
                dateFormat: "yy-mm-dd",
                showMonthAfterYear: true,
                autoSize: true,

                showOtherMonths: true,
                selectOtherMonths: true,

                maxDate: 0,

                changeMonth: true,
                changeYear: true,
                onClose: function (selectedDate) {
                    $("#statistics_from").datepicker("option", "maxDate", selectedDate);
                    $("#post_issue_from").datepicker("option", "maxDate", selectedDate);
                    $("#comment_issue_from").datepicker("option", "maxDate", selectedDate);
                    if (this.id == 'statistics_to') {
                        changeStatistics(statistics_method, $("#statistics_from").val(), $("#statistics_to").val());
                    }
                }
            });
        });

        /**
         * Init analysis.html
         */
        $(function () {
            getStatistics(statistics_url);
            getHourTotalStatistics(statistics_url);
            window.onresize = function (event) {
                statisticsPlot.replot();
                controllerStatisticsPlot.replot();
                totalHourStatisticsPlot.replot();
                controllerTotalHourStatisticsPlot.replot();
            }

            getIssue(post_issue_url, post_issue_table, post_issue_limit, $("#post_issue_from").val(), $("#post_issue_to").val(), 1, post_issue_paging);
            getIssue(comment_issue_url, comment_issue_table, comment_issue_limit, $("#comment_issue_from").val(), $("#comment_issue_to").val(), 1, comment_issue_paging);
            getArchive(post_archive_url, post_archive_table, post_archive_limit, $("#post_archive_from").val(), 1, post_archive_paging);
            getArchive(comment_archive_url, comment_archive_table, comment_archive_limit, $("#comment_archive_from").val(), 1, comment_archive_paging);

            $("#post_issue_run").on("click", function () {
                getIssue(post_issue_url, post_issue_table, post_issue_limit, $("#post_issue_from").val(), $("#post_issue_to").val(), 1, post_issue_paging);
            });

            $("#comment_issue_run").on("click", function () {
                getIssue(comment_issue_url, comment_issue_table, comment_issue_limit, $("#comment_issue_from").val(), $("#comment_issue_to").val(), 1, comment_issue_paging);
            });

            $("#post_archive_run").on("click", function () {
                getArchive(post_archive_url, post_archive_table, post_archive_limit, $("#post_archive_from").val(), 1, post_archive_paging);
            });

            $("#comment_archive_run").on("click", function () {
                getArchive(comment_archive_url, comment_archive_table, comment_archive_limit, $("#comment_archive_from").val(), 1, comment_archive_paging);
            });

            $("#post_issue_limit").on("input", function () {
                post_issue_limit = $("#post_issue_limit").val();
                getIssue(post_issue_url, post_issue_table, post_issue_limit, $("#post_issue_from").val(), $("#post_issue_to").val(), 1, post_issue_paging);
            });

            $("#comment_issue_limit").on("input", function () {
                comment_issue_limit = $("#comment_issue_limit").val();
                getIssue(comment_issue_url, comment_issue_table, comment_issue_limit, $("#comment_issue_from").val(), $("#comment_issue_to").val(), 1, comment_issue_paging);
            })

            $("#post_archive_limit").on("input", function () {
                post_archive_limit = $("#post_archive_limit").val();
                getArchive(post_archive_url, post_archive_table, post_archive_limit, $("#post_archive_from").val(), 1, post_archive_paging);
            });

            $("#comment_archive_limit").on("input", function () {
                comment_archive_limit = $("#comment_archive_limit").val();
                getArchive(comment_archive_url, comment_archive_table, comment_archive_limit, $("#comment_archive_from").val(), 1, comment_archive_paging);
            });
        });

        /**
         * Change Statistics
         *
         * @param method
         * @param from
         * @param to
         */
        function changeStatistics(method, from, to) {
            statistics_method = method;
            statisticsPlot.destroy();
            controllerStatisticsPlot.destroy();
            getStatistics(statistics_url, method, from, to);
        }


    </script>
{% endblock %}
