{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/admin.css' %}" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <style type="text/css">
        /* Base */
        body {
            font-size: 14px;
            margin: 0px;
            overflow-x: hidden;
        }

        .visit_total {
            font-size: 15px;
        }

        .visit_total .title {
            font-size: 15px;
            margin-bottom: 4px;
        }

        .visit_total .number {
            font-size: 20px;
        }

        .visit_total .chart {
            margin-top: 5px;
            height: 50px;
            width: 100px;
        }

        .bargauge {
            font-size: 15px;
        }

        .bargauge .title {
            padding: 16px;
        }

        .bargauge .chart {
            height: 150px;
            width: 80%;
        }

        .body {
            padding: 10px;
        }

        .dashed {
            border-top: 1px dashed #e5e5e5;

        }
    </style>
{% endblock %}

{% block content %}
    <div class="header">
        <div class="logo">
            <i class="icon-menu"></i>
        </div>
        <div class="toolbar">

            <span>{% block title %}{{ group.name }}{% endblock %}</span>

            <span>
                <select id="dynamic_select">
                    {% for grp in groups %}
                        <option id="{{ grp.id }}" value="{% url 'archive:group' grp.id %}"
                                {% if group.id == grp.id %}selected="selected"{% endif %}>{{ grp.name }}</option>
                    {% endfor %}
                </select>
            </span>
            <span style="float:right">
                  Sample <i class="icon-check"></i>
            </span>

        </div>
    </div>
    <div class="container">
        <div class="menu">

            <div class="vmenu ">
                <a class="active"><i class="icon-monitoring"></i> Dashboard</a>
                <a href="realtime.html"><i class="icon-realtime"></i> Realtime</a>
                <a href="analysis.html"><i class="icon-profile"></i> Analysis</a>
                <a><i class="icon-chart"></i> Statistics</a>
                <a><i class="icon-document"></i> Document</a>
                <a><i class="icon-gear"></i> Management</a>
                <a><i class="icon-user"></i> User</a>
            </div>

        </div>
        <div class="content">

            <div class="content-list">
                <div class="dashboard-first">
                    <div class="col col-3">
                        <div class="card">
                            <div class="title">Total Posts</div>
                            <div class="value">{{ group.post_count }}</div>
                        </div>
                    </div>
                    <div class="col col-3">
                        <div class="card">
                            <div class="title">Total Comments</div>
                            <div class="value">{{ group.comment_count }}</div>
                        </div>

                    </div>
                    <div class="col col-3">
                        <div class="card">
                            <div class="title">Weekly Posts</div>
                            <div class="value">{{ posts|length }}</div>
                        </div>

                    </div>
                    <div class="col col-3">
                        <div class="card">
                            <div class="title">Last Updated</div>
                            <div class="value">{{ group.get_diff_time }}</div>
                        </div>

                    </div>
                </div>

                <div class="panel">
                    <div class="body">
                        <h1 class="title"><i class="icon-analysis2"></i> <strong>Statistics</strong></h1>

                        <div class="group" style="float: right">
                            <div id="statistics_radio" class="group">
                                <a class="btn " value="year">Year</a>
                                <a class="btn " value="month">Month</a>
                                <a class="btn" value="day">Day</a>
                                <input type="text" class="input" id="statistics_from" placeholder="from"/>
                                <input type="text" class="input" id="statistics_to" placeholder="to"/>
                            </div>
                            <button class="btn" value="run" id="statistics_run"><i class="icon-play"></i> Run</button>
                        </div>

                        <div id="statistics"></div>
                    </div>
                </div>

                <div class="panel dashed">

                    <div class="body">
                        <h1 class="title"><i class="icon-bell"></i> <strong>Hot Issue</strong></h1>

                        <div class="panel" style="border:1px solid #ababab;">
                            <div class="head">
                                <strong>Recent Post List</strong>

                                <div class="group" style="float: right">
                                    <input type="text" class="input" id="issue_from" placeholder="from"/>
                                    <input type="text" class="input" id="issue_to" placeholder="to"/>
                                    <button class="btn" value="run" id="issue_run"><i class="icon-play"></i> Run
                                    </button>
                                </div>
                            </div>
                            <table class="table simple hover">
                                <colgroup>
                                    <col style="width: 15%;">
                                    <col style="width: 10%;">
                                    <col style="width: 10%;">
                                    <col style="width: 40%;">
                                    <col style="width: 5%;">
                                    <col style="width: 5%;">
                                    <col style="width: 5%;">
                                    <col style="width: 10%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>From</th>
                                    <th>Created Time</th>
                                    <th>Updated Time</th>
                                    <th>Message</th>
                                    <th>Like Count</th>
                                    <th>Comment Count</th>
                                    <th>Share Count</th>
                                    <th><a class="btn btn-base">All Posts</a></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for post in posts %}
                                    <tr>
                                        <td>
                                            <i class="icon-stop" style="font-size:8.5px;color:red;"></i>
                                            {{ post.user.name }}
                                        </td>
                                        <td>{{ post.get_diff_cre_time }}</td>
                                        <td>{{ post.get_diff_upe_time }}</td>
                                        <td>{{ post.message|truncatechars:80 }}</td>
                                        <td>{{ post.like_count }}</td>
                                        <td>{{ post.comment_count }}</td>
                                        <td>{{ post.share_count }}</td>
                                        <td><i class="icon-search"></i> View</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/admin.js' %}" type="text/javascript"></script>
    <script>
        var chart = jui.include("chart.builder");
        var statistics;
        var statistics_method = 'month';

        function getStatistics(method, from, to) {
            $.ajax({
                url: "{% url 'archive:group_statistics' group.id %}",
                type: "get",
                async: false,
                data: {
                    method: method,
                    from: from,
                    to: to
                },
                dataType: "JSON",
                success: function (source) {
                    statistics = source['statistics'];
                    return source;
                },
                error: function (request, status, error) {
                    alert(status);
                }
            });

            $('#statistics').empty();

            chart("#statistics", {
                padding: {
                    left: 60
                },
                height: 400,
                axis: [{
                    data: statistics,
                    x: {
                        type: "block",
                        domain: "date"
                    },
                    y: {
                        type: "range",
                        domain: [0, 1000],
                        step: 4,
                        line: true
                    },
                    area: {
                        {#                    width: "100%",#}
                        {#                    height: "40%"#}
                    }
                }, {
                    x: {
                        hide: true
                    },
                    y: {
                        domain: [0, 500],
                        orient: "right"
                    },
                    area: {
                        {#                    width: "100%",#}
                        {#                    height: "40%"#}
                    },
                    extend: 0
                }],
                brush: [{
                    type: "column",
                    target: "posts",
                    axis: 0,
                    colors: [0],
                    animate: true
                }, {
                    type: "line",
                    target: "comments",
                    axis: 1,
                    colors: [2],
                    animate: true
                }, {
                    type: "scatter",
                    target: "comments",
                    size: 10,
                    axis: 1,
                    colors: [2]
                }],
                widget: [{
                    type: "title",
                    text: "Group Overview",
                    align: "start"
                }, {
                    type: "title",
                    text: "Counts",
                    align: "start",
                    orient: "center",
                    dx: -55,
                    dy: -90
                }, {
                    type: "tooltip",
                    format: function (k, v) {
                        return v;
                    },
                    brush: [0, 2, 3, 4]
                }],
                style: {
                    scatterBorderWidth: 1.5,
                    titleFontSize: "11px",
                    titleFontWeight: "bold"
                },
                format: function (v) {
                    if (typeof(v) == "number") {
                        return ((v > 1000) ? Math.floor(v / 1000) + "k" : v);
                    }

                    return v;
                }
            });
        }

        jui.ready(["ui.button"], function (button) {
            getStatistics(statistics_method);

            statistics_radio = button("#statistics_radio", {
                type: "radio",
                index: 1,
                event: {
                    change: function (data) {
                        statistics_method = data.value;
                    }
                }
            });
        });

        $(function () {
            $("#statistics_run").on("click", function () {
                alert(statistics_method + "/" + $("#statistics_from").val() + "/" + $("#statistics_to").val());
                getStatistics(statistics_method, $("#statistics_from").val(), $("#statistics_to").val());
            });

            $("#issue_run").on("click", function () {
                alert($("#issue_from").val() + "/" + $("#issue_to").val());
            });
        })

        $(function () {
            $("#statistics_from, #issue_from").datepicker({
                dateFormat: 'yy-mm-dd',
                showMonthAfterYear: true,
                autoSize: true,

                showOtherMonths: true,
                selectOtherMonths: true,

                maxDate: 0,

                changeMonth: true,
                changeYear: true,
                onClose: function (selectedDate) {
                    $("#statistics_to").datepicker("option", "minDate", selectedDate);
                    $("#issue_to").datepicker("option", "minDate", selectedDate);
                }
            });
        });

        $(function () {
            $("#statistics_to, #issue_to").datepicker({
                dateFormat: "yy-mm-dd",
                showMonthAfterYear: true,
                autoSize: true,

                showOtherMonths: true,
                selectOtherMonths: true,

                maxDate: 0,

                changeMonth: true,
                changeYear: true,
                onClose: function (selectedDate) {
                    $("#statistics_from").datepicker("option", "maxDate", selectedDate);
                    $("#issue_from").datepicker("option", "maxDate", selectedDate);
                }
            });
        });
    </script>
{% endblock %}
