{% load staticfiles %}
<br>
<!-- /.row -->
<div class="row">
    <!-- Total Posts -->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-list fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ group.post_count }}</div>
                        <div>Total Posts</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Total Posts -->

    <!-- Total Comments -->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ group.comment_count }}</div>
                        <div>Total Comments</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Total Comments -->

    <!-- Weekly Posts -->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-calendar-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ posts|length }}</div>
                        <div>Weekly Posts</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Weekly Posts -->

    <!-- Last Updated -->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-retweet fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ group.get_diff_time }}</div>
                        <div>Last Updated</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Last Updated -->
</div>