{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <!-- Timeline CSS -->
    <link href="{% static 'css/timeline.css' %}" rel="stylesheet">

    <style type="text/css">
        /* Base */
        .visit_total {
            font-size: 15px;
        }

        .visit_total .title {
            font-size: 15px;
            margin-bottom: 4px;
        }

        .visit_total .number {
            font-size: 20px;
        }

        .visit_total .chart {
            margin-top: 5px;
            height: 50px;
            width: 100px;
        }

        .bargauge {
            font-size: 15px;
        }

        .bargauge .title {
            padding: 16px;
        }

        .bargauge .chart {
            height: 150px;
            width: 80%;
        }

        .body {
            padding: 10px;
        }

        .dashed {
            border-top: 1px dashed #e5e5e5;

        }
    </style>
{% endblock %}

{% block header %}
    {% include 'archive/group/header.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="menu">

            <div class="vmenu ">
                <a class="active"><i class="icon-monitoring"></i> Dashboard</a>
                <a href="realtime.html"><i class="icon-realtime"></i> Realtime</a>
                <a href="base.html"><i class="icon-profile"></i> Analysis</a>
                <a><i class="icon-chart"></i> Statistics</a>
                <a><i class="icon-document"></i> Document</a>
                <a><i class="icon-gear"></i> Management</a>
                <a><i class="icon-user"></i> User</a>
            </div>

        </div>
        <div class="content">

            <div class="content-list">
                <div class="dashboard-first">
                    <div class="col col-3">
                        <div class="card">
                            <div class="title">Total Posts</div>
                            <div class="value">{{ group.post_count }}</div>
                        </div>
                    </div>
                    <div class="col col-3">
                        <div class="card">
                            <div class="title">Total Comments</div>
                            <div class="value">{{ group.comment_count }}</div>
                        </div>

                    </div>
                    <div class="col col-3">
                        <div class="card">
                            <div class="title">Weekly Posts</div>
                            <div class="value">{{ posts|length }}</div>
                        </div>

                    </div>
                    <div class="col col-3">
                        <div class="card">
                            <div class="title">Last Updated</div>
                            <div class="value">{{ group.get_diff_time }}</div>
                        </div>

                    </div>
                </div>

                <div class="panel">
                    <div class="body">
                        <h1 class="title"><i class="icon-analysis2"></i> <strong>Statistics</strong></h1>

                        <div class="group" style="float: right">
                            <div id="statistics_radio" class="group">
                                <a class="btn " value="year">Year</a>
                                <a class="btn " value="month">Month</a>
                                <a class="btn" value="day">Day</a>
                                <input type="text" class="input" id="statistics_from" placeholder="from"/>
                                <input type="text" class="input" id="statistics_to" placeholder="to"/>
                            </div>
                            <button class="btn" value="run" id="statistics_run"><i class="icon-play"></i> Run</button>
                        </div>

                        <div id="statistics"></div>
                    </div>
                </div>

                <div class="panel dashed">

                    <div class="body">
                        <h1 class="title"><i class="icon-bell"></i> <strong>Hot Issue</strong></h1>

                        <div class="panel" style="border:1px solid #ababab; border-radius: 10px;">
                            <div class="head">
                                <strong>Recent Post List</strong>

                                <div class="group" style="float: right">
                                    <div id="issue_radio" class="group">
                                        <a class="btn " value="20">20</a>
                                        <a class="btn " value="50">50</a>
                                        <a class="btn" value="100">100</a>
                                        <input type="text" class="input" id="issue_from" placeholder="from"/>
                                        <input type="text" class="input" id="issue_to" placeholder="to"/>
                                    </div>
                                    <button class="btn" value="run" id="issue_run"><i class="icon-play"></i> Run
                                    </button>
                                </div>
                            </div>
                            <table id="issue_table" class="table simple hover">
                                <colgroup>
                                    <col style="width: 10%;">
                                    <col style="width: 8%;">
                                    <col style="width: 8%;">
                                    <col style="width: 45%;">
                                    <col style="width: 7%;">
                                    <col style="width: 7%;">
                                    <col style="width: 7%;">
                                    <col style="width: 8%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th><i class="icon-user"></i> From</th>
                                    <th><i class="icon-realtime"></i> Created Time</th>
                                    <th><i class="icon-realtime"></i> Updated Time</th>
                                    <th><i class="icon-report"></i> Message</th>
                                    <th><i class="icon-like"></i> Like</th>
                                    <th><i class="icon-message"></i> Comment</th>
                                    <th><i class="icon-share"></i> Share</th>
                                    <th><i class="icon-search"></i> View</th>
                                </tr>
                                </thead>
                                <tbody id="issue_tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <script id="tpl_row" type="text/template">
                    <tr>
                        <td><i class="icon-stop" style="font-size:8.5px;color:red;"></i><!= from !></td>
                        <td><!= created_time !></td>
                        <td><!= updated_time !></td>
                        <td><!= message !></td>
                        <td><!= like_count !></td>
                        <td><!= comment_count !></td>
                        <td><!= share_count !></td>
                        <td><i class="icon-search"></i> View</td>
                    </tr>
                </script>

                <div class="panel dashed">
                    <div class="body">
                        <h1 class="title"><i class="icon-realtime"></i> <strong>Timeline</strong></h1>

                        <div class="panel" style="border:1px solid #ababab; border-radius: 10px;">
                            <div class="body">
                                <ul id="timeline" class="timeline">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var chart = jui.include("chart.builder");
        var statistics;
        var statistics_method = 'month';
        var issue;
        var issue_len = 20;


        function getStatistics(method, from, to) {
            $.ajax({
                url: "{% url 'archive:group_statistics' group.id %}",
                type: "get",
                async: false,
                data: {
                    method: method,
                    from: from,
                    to: to
                },
                dataType: "JSON",
                success: function (source) {
                    statistics = source['statistics'];
                },
                error: function (request, status, error) {
                    alert(status);
                }
            });

            $('#statistics').empty();

            chart("#statistics", {
                padding: {
                    left: 60
                },
                height: 400,
                axis: [{
                    data: statistics,
                    x: {
                        type: "block",
                        domain: "date"
                    },
                    y: {
                        type: "range",
                        domain: [0, 1000],
                        step: 4,
                        line: true
                    },
                    area: {
                        {#                    width: "100%",#}
                        {#                    height: "40%"#}
                    }
                }, {
                    x: {
                        hide: true
                    },
                    y: {
                        domain: [0, 500],
                        orient: "right"
                    },
                    area: {
                        {#                    width: "100%",#}
                        {#                    height: "40%"#}
                    },
                    extend: 0
                }],
                brush: [{
                    type: "column",
                    target: "posts",
                    axis: 0,
                    colors: [0],
                    animate: true
                }, {
                    type: "line",
                    target: "comments",
                    axis: 1,
                    colors: [2],
                    animate: true
                }, {
                    type: "scatter",
                    target: "comments",
                    size: 10,
                    axis: 1,
                    colors: [2]
                }],
                widget: [{
                    type: "title",
                    text: "Group Overview",
                    align: "start"
                }, {
                    type: "title",
                    text: "Counts",
                    align: "start",
                    orient: "center",
                    dx: -55,
                    dy: -90
                }, {
                    type: "tooltip",
                    format: function (k, v) {
                        return v;
                    },
                    brush: [0, 2, 3, 4]
                }],
                style: {
                    scatterBorderWidth: 1.5,
                    titleFontSize: "11px",
                    titleFontWeight: "bold"
                },
                format: function (v) {
                    if (typeof(v) == "number") {
                        return ((v > 1000) ? Math.floor(v / 1000) + "k" : v);
                    }
                    return v;
                }
            });
        }

        function getIssue(len, from, to) {
            $.ajax({
                url: "/api/groups/{{ group.id }}/issue",
                type: "get",
                async: false,
                data: {
                    len: len,
                    from: from,
                    to: to
                },
                dataType: "JSON",
                success: function (source) {
                    issue_table.reset()
                    var rows = []
                    for (var i in source) {
                        var post = source[i]
                        rows.push({
                            from: post["user"].name,
                            "created_time": timeSince(post["created_time"]),
                            "updated_time": timeSince(post["updated_time"]),
                            "message": !post["message"] || post["message"].length < 80 ? post["message"] : post["message"].substring(0, 80) + "...",
                            "like_count": post["like_count"],
                            "comment_count": post["comment_count"],
                            "share_count": post["share_count"]
                        });
                    }
                    ;
                    issue_table.append(rows);
                },
                error: function (request, status, error) {
                    alert(status);
                }
            });
        }

        function getTimeline() {
            $.ajax({
                url: "/api/groups/{{ group.id }}/timeline",
                type: "get",
                async: false,
                dataType: "JSON",
                success: function (source) {
                    timeline = $('#timeline');

                    var before_user;
                    var toggle = false;

                    for (var i in source) {
                        var post = source[i];
                        var message = post["message"]? String(post["message"]).replace(/</gi, "&lt;"):"";
                        var html = '<div class="timeline-badge"><img src="' + post["user"]["picture"] + '" style="border-radius: 10px;"></div>'
                                + '<div class="timeline-panel">'
                                + '<div class="timeline-heading"><h4 class="timeline-title h4">' + post["user"]["name"] + '</h4>'
                                + '<p><small class="text-muted h4"><i class="icon-realtime"></i> ' + timeSince(post["updated_time"])
                                + ' | <i class="icon-like"></i> ' + post["like_count"]
                                + ' | <i class="icon-message"></i> ' + post["comment_count"] + '</small></p></div>'
                                + '<div class="timeline-body h5"><p><code>' + message + '</code>'
                                + '<br/><br/>';

                        var attachments = post["attachments"];
                        html += generate_attachment(attachments, post["picture"]);
                        html += '</p></div></div>';

                        timeline.append('<li>' + html + '</li>');

                        timeline_last_li = $('#timeline li:last');

                        if (before_user && before_user == post["user"]["url"]) {
                            toggle = !toggle;
                        }

                        if (toggle) {
                            timeline_last_li.addClass("timeline-inverted");
                            toggle = !toggle;
                        } else {
                            toggle = !toggle;
                        }

                        before_user = post["user"]["url"];
                    }
                },
                error: function (request, status, error) {
                    alert(status);
                }
            });
        }

        jui.ready(["uix.table"], function (table) {
            issue_table = table("#issue_table", {
                fields: ["from", "created_time", "updated_time", "message", "like_count", "comment_count", "share_count", null],
                scroll: true,
                scrollHeight: 300,
                tpl: {
                    row: $("#tpl_row").html()
                }
            });
        });

        jui.ready(["ui.button"], function (button) {
            statistics_radio = button("#statistics_radio", {
                type: "radio",
                index: 1,
                event: {
                    change: function (data) {
                        statistics_method = data.value;
                    }
                }
            });

            issue_radio = button("#issue_radio", {
                type: "radio",
                index: 0,
                event: {
                    change: function (data) {
                        issue_len = data.value;
                    }
                }
            });
        });

        $(function () {
            getStatistics(statistics_method);
            getIssue(issue_len);
            getTimeline();

            $("#statistics_run").on("click", function () {
                getStatistics(statistics_method, $("#statistics_from").val(), $("#statistics_to").val());
            });

            $("#issue_run").on("click", function () {
                getIssue(issue_len, $("#issue_from").val(), $("#issue_to").val());
            });
        })

        $(function () {
            $("#statistics_from, #issue_from").datepicker({
                dateFormat: 'yy-mm-dd',
                showMonthAfterYear: true,
                autoSize: true,

                showOtherMonths: true,
                selectOtherMonths: true,

                maxDate: 0,

                changeMonth: true,
                changeYear: true,
                onClose: function (selectedDate) {
                    $("#statistics_to").datepicker("option", "minDate", selectedDate);
                    $("#issue_to").datepicker("option", "minDate", selectedDate);
                }
            });
        });

        $(function () {
            $("#statistics_to, #issue_to").datepicker({
                dateFormat: "yy-mm-dd",
                showMonthAfterYear: true,
                autoSize: true,

                showOtherMonths: true,
                selectOtherMonths: true,

                maxDate: 0,

                changeMonth: true,
                changeYear: true,
                onClose: function (selectedDate) {
                    $("#statistics_from").datepicker("option", "maxDate", selectedDate);
                    $("#issue_from").datepicker("option", "maxDate", selectedDate);
                }
            });
        });
    </script>
{% endblock %}
