{% load staticfiles %}
<div class="col col-8">
    <span>{{ group.name }}</span>
    &nbsp;&nbsp;
    <span>
        <div id="groups_combo" class="combo">
            <a class="btn small">Select...</a>
            <a class="btn small toggle"><i class="icon-arrow2"></i></a>
            <ul>
                {% for grp in groups %}
                    {% if grp.id == group.id %}
                        <p id="current_group" style="display: none;">{{ forloop.counter0 }}</p>
                    {% endif %}
                    <li value="{% url 'archive:group' grp.id %}">{{ grp.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </span>

    <form id="search_form" method="get" action="{% url 'archive:group_search' group.id %}"
          style="display: inline;">
        <input id="search_input" type="text" style="width: 50%;" class="input small" name="q" placeholder="Search"/>
    </form>
</div>

<div class="col col-1">
</div>
