{% for post in posts %}
    <tr>
        <td>
            <i class="icon-stop" style="font-size:8.5px;color:red;"></i>
            {{ post.user.name }}
        </td>
        <td><i class="icon-realtime"></i> {{ post.get_diff_cre_time }}</td>
        <td><i class="icon-realtime"></i> {{ post.get_diff_upe_time }}</td>
        <td>{{ post.message|truncatechars:80 }}</td>
        <td>{{ post.like_count }}</td>
        <td>{{ post.comment_count }}</td>
        <td>{{ post.share_count }}</td>
        <td><i class="icon-search"></i> View</td>
    </tr>
{% endfor %}
