{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <style type="text/css">
        /* Base */
        .body {
            padding: 10px;
        }

        .dashed {
            border-top: 1px dashed #e5e5e5;

        }
    </style>
{% endblock %}

{% block content %}

    <div class="panel dashed">
        <div class="body">
            <h1 class="title"><i class="icon-document"></i> <strong>Groups</strong>

                <form id="group_enroll" method="post" style="display: inline; float: right;">
                    {% csrf_token %}
                    <div class="group">
                        <input id="group_enroll_input" type="text" class="input" name="fb_url" placeholder="Group Url"
                               required/>
                        <a class="btn" id="group_enroll_submit">enroll</a>
                    </div>
                </form>
            </h1>

            <div class="panel" style="border:1px solid #ababab; border-radius: 10px;">
                <div class="head">
                    <strong>Group List</strong>

                    <div class="group" style="float: right">
                        <input type="text" class="input" id="groups_limit" placeholder="Limit"
                               value="10" style="width: 60px; text-align: right;"/>
                        <input type="text" class="input" id="groups_search" placeholder="Search"/>
                        <button class="btn" value="run" id="groups_run"><i class="icon-play"></i>
                            Run
                        </button>
                    </div>
                </div>
                <table id="groups_table" class="table simple hover">
                    <thead>
                    <tr>
                        <th style="text-align: center;"><i class="icon-orderedlist"></i> ID</th>
                        <th style="text-align: center;"><i class="icon-text"></i> Name</th>
                        <th style="text-align: center;"><i class="icon-realtime"></i> Updated Time</th>
                        <th style="text-align: center;"><i class="icon-report"></i> Post</th>
                        <th style="text-align: center;"><i class="icon-message"></i> Comment</th>
                        <th style="text-align: center;"><i class="icon-caution"></i> Privacy</th>
                        <th style="text-align: center;"><i class="icon-save"></i> Stored</th>
                        <th style="text-align: center;"><i class="icon-refresh"></i> Update</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div id="groups_paging" class="paging" style="margin-top: 3px;">
                <a href="#" class="prev">Previous</a>

                <div class="list"></div>
                <a href="#" class="next">Next</a>
            </div>
        </div>
    </div>

    <script id="tpl_row" type="text/template">
        <tr>
            <td style="text-align: center;"><!= id !></td>
            <td style="text-align: center;"><!= name !></td>
            <td style="text-align: center;"><!= updated_time !></td>
            <td style="text-align: center;"><!= post_count !></td>
            <td style="text-align: center;"><!= comment_count !></td>
            <td style="text-align: center;"><!= privacy !></td>
            <td style="text-align: center;"><!= is_stored !></td>
            <td style="text-align: center;"><!= update !></td>
        </tr>
    </script>

    <script id="tpl_none" type="text/template">
        <tr>
            <td colspan="7" class="none" align="center">Data does not exist.</td>
        </tr>
    </script>

    <script id="tpl_pages" type="text/template">
        <! for(var i = 0; i < pages.length; i++) { !>
        <a href="#" class="page"><!= pages[i] !></a>
        <! } !>
    </script>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/archive.js' %}" type="text/javascript"></script>
    <script>
        var groups_url = "/api/groups/group_search";
        var groups_limit = 10;
        var groups_search = $('#groups_search');

        /**
         * Generate Archive
         */
        jui.ready(["ui.paging", "uix.table"], function (paging, table) {
            groups_paging = paging("#groups_paging", {
                pageCount: 10,
                screenCount: 10,
                event: {
                    page: function (pNo) {
                        getGroups(groups_url, groups_table, groups_limit, pNo, groups_search.val());
                    }
                },
                tpl: {
                    pages: $("#tpl_pages").html()
                }
            });

            groups_table = table("#groups_table", {
                fields: ["id", "name", "updated_time", "post_count", "comment_count", "privacy", "is_stored", "update"],
                scroll: true,
                scrollHeight: 500,
                resize: true,
                tpl: {
                    row: $("#tpl_row").html(),
                    none: $("#tpl_none").html()
                }
            });
        });

        /**
         * Init user.html
         */
        $(function () {
            getGroups(groups_url, groups_table, groups_limit, 1, groups_search.val(), groups_paging);

            $("#groups_run").on("click", function () {
                getGroups(groups_url, groups_table, groups_limit, 1, groups_search.val(), groups_paging);
                groups_paging.first();
            });

            $("#groups_limit").on("input", function () {
                groups_limit = $("#groups_limit").val();
                getGroups(groups_url, groups_table, groups_limit, 1, groups_search.val(), groups_paging);
                groups_paging.first();
            });

            $("#groups_search").keypress(function (event) {
                var key_code = event.keyCode || window.event.keyCode;
                if (key_code == 13) $("#groups_run").click();
            });

            /**
             * Get Results by using ajax
             */
            $("#group_enroll_submit").click(function () {
                var form_data = $("#group_enroll").serialize();

                $.ajax({
                    url: '{% url 'archive:groups' %}',
                    type: "post",
                    data: form_data,
                    success: function (json, status) {
                        if (json["success"]) {
                            data = {
                                title: json["success"],
                                message: getToday(),
                                color: 'success',
                            }
                            notify_top_submit(1, data);
                        }
                        else if (json["error"]) {
                            data = {
                                title: json["error"],
                                message: getToday(),
                                color: 'danger',
                            }
                            notify_top_submit(1, data);
                        }
                        getGroups(groups_url, groups_table, groups_limit, 1, groups_search.val(), groups_paging);
                        groups_paging.first();
                    },
                    error: function (request, status, error) {
                        data = {
                                title: "An unexpected error has occurred.",
                                message: getToday(),
                                color: 'danger',
                            }
                        notify_top_submit(1, data);
                    }
                });
                $("#group_enroll_input").val('');
            });
        });
    </script>
{% endblock %}