{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
{% endblock %}

{% block content %}
    <div id="custom-page-wrapper">
        <br>
        <br>

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-users fa-fw"></i> Groups
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li style="text-align: center;">
                                        <label for="groups_limit">Limit</label>
                                        <input type="text" class="input" id="groups_limit" placeholder="Limit"
                                               value="10" style="width: 80%; text-align: center;"/>
                                    </li>
                                    <li class="divider"></li>
                                    <li style="text-align: center;">
                                        <input type="text" class="input" id="groups_search" placeholder="Search"
                                               style="width: 80%; text-align: center;"/>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a data-toggle="modal" data-target="#enroll">Enroll</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body jui">
                       <table id="groups_table" class="table simple hover">
                            <thead>
                            <tr>
                                <th style="width: 30px"></th>
                                <th style="text-align: center;"><i class="icon-text"></i> Name</th>
                                <th style="text-align: center;"><i class="icon-realtime"></i> Updated Time</th>
                                <th style="text-align: center;"><i class="icon-report"></i> Post</th>
                                <th style="text-align: center;"><i class="icon-message"></i> Comment</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        <div id="groups_paging" class="paging" style="margin-top: 3px;">
                            <a href="#" class="prev">Previous</a>

                            <div class="list"></div>
                            <a href="#" class="next">Next</a>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
        <br>

        <!-- Modal -->
        <div class="modal fade" id="enroll" tabindex="-1" role="dialog"
             aria-labelledby="enroll_label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="enroll_label">Enroll a new group.</h4>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <input id="group_enroll_input" type="text" class="input" name="fb_url" placeholder="Group Url"
                               style="width: 80%; text-align: center;"/>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <script id="tpl_row" type="text/template">
            <tr>
                <td>
                    <div class="h4"><i class='icon-left'></i></div>
                </td>
                <td style="text-align: center;"><!= name !></td>
                <td style="text-align: center;"><!= updated_time !></td>
                <td style="text-align: center;"><!= post_count !></td>
                <td style="text-align: center;"><!= comment_count !></td>
            </tr>
        </script>

        <script data-jui="#groups_table" data-tpl="expand" type="text/template">
            <div class="jui" style="margin-left: 30px;">
                <div class="row">
                    <div class="group">
                        <label class="label large">Owner</label>
                        <label class="label large"><!= owner !></label>
                    </div>
                    <div class="group">
                        <label class="label large">Is stored?</label>
                        <label class="label large"><!= is_stored !></label>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="group">
                        <!= action !>
                    </div>
                </div>
            </div>
        </script>

        <script id="tpl_none" type="text/template">
            <tr>
                <td colspan="5" class="none" align="center">Data does not exist.</td>
            </tr>
        </script>

        <script id="tpl_pages" type="text/template">
            <! for(var i = 0; i < pages.length; i++) { !>
            <a href="#" class="page"><!= pages[i] !></a>
            <! } !>
        </script>

        <div id="loading_groups_msg" style="display: none; font-size: 20px; color: red;">
            NOW LOADING...
        </div>
    </div><!-- /.page-wrapper -->
{% endblock content %}

{% block script %}
    <script src="{% static 'js/archive/js/archive.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/archive/js/group.js' %}" type="text/javascript"></script>
    <script>
        var groups_url = "/api/groups/group_search/";
        var groups_limit = detectWidthToPageCount();
        var groups_search = $('#groups_search');
        var page = 1;

        /**
         * Generate Archive
         */
        jui.ready(["ui.paging", "uix.table"], function (paging, table) {
            groups_paging = paging("#groups_paging", {
                pageCount: detectWidthToPageCount(),
                screenCount: detectWidthToScreenCount(),
                event: {
                    page: function (pNo) {
                        page = pNo;
                        changeGroupsAdmin(groups_url, groups_table, groups_limit, groups_search.val(), loading_groups, pNo);
                    }
                },
                tpl: {
                    pages: $("#tpl_pages").html()
                }
            });

            groups_table = table("#groups_table", {
                fields: ["", "name", "updated_time", "post_count", "comment_count"],
                scroll: true,
                scrollHeight: 500,
                resize: true,
                expand: true,
                animate: true,
                event: {
                    expand: function (row, e) {
                        $(row.list[0]).html("<div class='h4'><i class='icon-right'></i></div>");
                    },
                    expandend: function (row, e) {
                        $(row.list[0]).html("<div class='h4'><i class='icon-left'></i></div>");
                    }
                },
                tpl: {
                    row: $("#tpl_row").html(),
                    none: $("#tpl_none").html()
                }
            });
        });

        /**
         * Loading message
         */
        jui.ready(["ui.modal"], function (modal) {
            loading_groups = modal("#loading_groups_msg", {
                target: "#groups_table",
                opacity: 0.5,
                color: 'white',
                autoHide: false,
            });
        });

        /**
         * Init user.html
         */
        $(function () {
            $("#groups_limit").val(groups_limit);
            changeGroupsAdmin(groups_url, groups_table, groups_limit, groups_search.val(), loading_groups, 1, groups_paging);

            /**
             * Window Resize
             */
            window.onresize = function (event) {
                groups_table.resize();
                reLoadPaging(groups_paging);
            }

            /**
             * Mobile Rotate
             */
            $(window).on("orientationchange", function () {
                groups_table.resize();
                reLoadPaging(groups_paging);
            });

            $("#groups_limit").on("input", function () {
                groups_limit = $("#groups_limit").val();
                changeGroupsAdmin(groups_url, groups_table, groups_limit, groups_search.val(), loading_groups, 1, groups_paging);
            });

            $("#groups_search").keypress(function (event) {
                var key_code = event.keyCode || window.event.keyCode;
                if (key_code == 13) {
                    changeGroupsAdmin(groups_url, groups_table, groups_limit, groups_search.val(), loading_groups, 1, groups_paging);
                }
            });

            /**
             * Get Results by using ajax
             */
            $("#group_enroll_input").keypress(function (event) {
                var key_code = event.keyCode || window.event.keyCode;
                if (key_code == 13) {
                    var data = {
                        fb_url: $("#group_enroll_input").val(),
                    }
                    postAjax('{% url 'archive:groups' %}', data);
                    changeGroupsAdmin(groups_url, groups_table, groups_limit, groups_search.val(), loading_groups, 1, groups_paging);
                    $("#group_enroll_input").val('');
                }
            });
        });
    </script>
{% endblock %}