{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ user.username }}'s wards{% endblock %}

{% block css %}
    <style type="text/css">
        /* Base */
        .body {
            padding: 10px;
        }

        .dashed {
            border-top: 1px dashed #e5e5e5;

        }
    </style>
{% endblock %}

{% block header %}
    <div class="col col-3">
        <span>{{ user.username }}' wards</span>
    </div>

    <div class="col col-3">
    </div>

    <div class="col col-3">
    </div>
{% endblock %}

{% block content %}
    <div class="panel">
        <div class="body">
            <h1 class="title">
                <i class="icon-report"></i> <strong>Wards</strong>

                <div id="combo" class="combo" style="float: right">
                    <a class="btn">Select...</a>
                    <a class="btn toggle"><i class="icon-arrow2"></i></a>
                    <ul>
                        {% for group in groups %}
                            <li value="/api/groups/{{ group.id }}/">{{ group.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </h1>

            <div class="col col-6">
                <div class="panel" style="border:1px solid #ababab; border-radius: 10px;">
                    <div class="head">
                        <strong>Post List</strong>

                        <div class="group" style="float: right">
                            <input type="text" class="input" id="post_ward_limit" placeholder="Limit" value="10"
                                   style="width: 60px; text-align: right;"/>
                        </div>
                    </div>
                    <table id="post_ward_table" class="table simple hover">
                        <colgroup>
                            <col style="width: 60px;">
                            <col style="width: 100px;">
                            <col style="width: 60%;">
                            <col style="width: 20%;">
                            <col style="width: 20%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th></th>
                            <th style="text-align: center;"><i class="icon-user"></i> From</th>
                            <th style="text-align: center;"><i class="icon-report"></i> Message</th>
                            <th style="text-align: center;"><i class="icon-like"></i> Like</th>
                            <th style="text-align: center;"><i class="icon-message"></i> Comment</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div id="post_ward_paging" class="paging" style="margin-top: 3px;">
                    <a href="#" class="prev">Previous</a>

                    <div class="list"></div>
                    <a href="#" class="next">Next</a>
                </div>
            </div>


            <div class="col col-6">
                <div class="panel" style="border:1px solid #ababab; border-radius: 10px;">
                    <div class="head">
                        <strong>Comment List</strong>

                        <div class="group" style="float: right">
                            <input type="text" class="input" id="comment_ward_limit" placeholder="Limit" value="10"
                                   style="width: 60px; text-align: right;"/>
                        </div>
                    </div>
                    <table id="comment_ward_table" class="table simple hover">
                        <colgroup>
                            <col style="width: 60px;">
                            <col style="width: 100px;">
                            <col style="width: 60%;">
                            <col style="width: 20%;">
                            <col style="width: 20%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th></th>
                            <th style="text-align: center;"><i class="icon-user"></i> From</th>
                            <th style="text-align: center;"><i class="icon-report"></i> Message</th>
                            <th style="text-align: center;"><i class="icon-like"></i> Like</th>
                            <th style="text-align: center;"><i class="icon-message"></i> Comment</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div id="comment_ward_paging" class="paging" style="margin-top: 3px;">
                    <a href="#" class="prev">Previous</a>

                    <div class="list"></div>
                    <a href="#" class="next">Next</a>
                </div>
            </div>
        </div>
    </div>

    <script id="tpl_row" type="text/template">
        <tr>
            <td style="text-align: right;"><!= picture !></td>
            <td><!= from !></td>
            <td><!= message !></td>
            <td style="text-align: center;"><!= like_count !></td>
            <td style="text-align: center;"><!= comment_count !></td>
        </tr>
    </script>

    <script id="tpl_none" type="text/template">
        <tr>
            <td colspan="5" class="none" align="center">Data does not exist.</td>
        </tr>
    </script>

    <script id="tpl_pages" type="text/template">
        <! for(var i = 0; i < pages.length; i++) { !>
        <a href="#" class="page"><!= pages[i] !></a>
        <! } !>
    </script>
{% endblock %}

{% block script %}
    <script src="{% static 'js/archive.js' %}" type="text/javascript"></script>
    <script>
        var post_ward_limit = 10;
        var comment_ward_limit = 10;

        var post_ward_url = "/api/groups/{{ groups.0.id }}/post_ward/";
        var comment_ward_url = "/api/groups/{{ groups.0.id }}/comment_ward/";

        var user_id = '{{ user.id }}';

        /**
         * Generate ward
         */
        jui.ready(["ui.paging", "uix.table"], function (paging, table) {
            post_ward_paging = paging("#post_ward_paging", {
                pageCount: 10,
                screenCount: 10,
                event: {
                    page: function (pNo) {
                        getWards(post_ward_url, user_id, post_ward_table, post_ward_limit, pNo);
                    }
                },
                tpl: {
                    pages: $("#tpl_pages").html()
                }
            });

            post_ward_table = table("#post_ward_table", {
                fields: ["", "from", "message", "like_count", "comment_count"],
                scroll: true,
                scrollHeight: 500,
                resize: true,
                event: {
                    sort: function (column, e) {
                        var className = {
                            "desc": "icon-arrow1",
                            "asc": "icon-arrow3"
                        }[column.order];

                        $(column.element).children("i").remove();
                        $(column.element).append("<i class='" + className + "'></i>");
                    }
                },
                tpl: {
                    row: $("#tpl_row").html(),
                    none: $("#tpl_none").html()
                }
            });

            comment_ward_paging = paging("#comment_ward_paging", {
                pageCount: 10,
                screenCount: 10,
                event: {
                    page: function (pNo) {
                        getWards(comment_ward_url, user_id, comment_ward_table, comment_ward_limit, pNo);
                    }
                },
                tpl: {
                    pages: $("#tpl_pages").html()
                }
            });

            comment_ward_table = table("#comment_ward_table", {
                fields: ["", "from", "message", "like_count", "comment_count"],
                scroll: true,
                scrollHeight: 500,
                resize: true,
                event: {
                    sort: function (column, e) {
                        var className = {
                            "desc": "icon-arrow1",
                            "asc": "icon-arrow3"
                        }[column.order];

                        $(column.element).children("i").remove();
                        $(column.element).append("<i class='" + className + "'></i>");
                    }
                },
                tpl: {
                    row: $("#tpl_row").html(),
                    none: $("#tpl_none").html()
                }
            });
        });

        /**
         * Generate Combo
         */
        jui.ready(["ui.combo"], function (combo) {
            combo = combo("#combo", {
                index: 0,
                width: 200,
                keydown: true,
                event: {
                    change: function (data) {
                        post_ward_url = data.value + 'post_ward/'
                        comment_ward_url = data.value + 'comment_ward/'

                        getWards(post_ward_url, user_id, post_ward_table, post_ward_limit, 1, post_ward_paging);
                        getWards(comment_ward_url, user_id, comment_ward_table, comment_ward_limit, 1, comment_ward_paging);
                    }
                }
            });
        });

        /**
         * Init analysis.html
         */
        $(function () {
            {% if groups %}
                getWards(post_ward_url, user_id, post_ward_table, post_ward_limit, 1, post_ward_paging);
                getWards(comment_ward_url, user_id, comment_ward_table, comment_ward_limit, 1, comment_ward_paging);
            {% endif %}

            $("#post_ward_limit").on("input", function () {
                post_ward_limit = $("#post_ward_limit").val();
                getWards(post_ward_url, user_id, post_ward_table, post_ward_limit, 1, post_ward_paging);
            });

            $("#comment_ward_limit").on("input", function () {
                comment_ward_limit = $("#comment_ward_limit").val();
                getWards(comment_ward_url, user_id, comment_ward_table, comment_ward_limit, 1, comment_ward_paging);
            });
        });

    </script>
{% endblock %}
