<div class="header">
    <div class="logo">
        <i class="icon-menu"></i>
    </div>
    <div class="toolbar">
        <div class="col col-3">
            <span>{% block title %}{{ user.name }}{% endblock %}</span>
        </div>

        <div class="col col-3">
        </div>

        <div class="col col-3">
        </div>

        <div class="col col-3">
            <span style="float:right">
                  Sample <i class="icon-check"></i>
            </span>
        </div>
    </div>
</div>
