{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ fb_user.name }}{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <div id="custom-page-wrapper">

        {% block header %}
            {% include 'archive/user/user_header.html' %}
        {% endblock %}

        <br>
        <br>

        <!-- /.row -->
        <div class="row">
            <!-- Groups -->
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-users fa-fw"></i> Groups
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="form-group">
                            <select id="select_group" class="form-control">
                                {% for group in groups %}
                                    <option value="/api/groups/{{ group.id }}/">{{ group.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /Groups -->

            <!-- Post -->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-list fa-fw"></i> Post
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li style="text-align: center;">
                                        <label for="post_archive_limit">Limit</label>
                                        <input type="text" class="input" id="post_archive_limit" placeholder="Limit"
                                               value="10" style="width: 80%; text-align: center;"/>
                                    </li>
                                    <li class="divider"></li>
                                    <li style="text-align: center;">
                                        <input type="text" class="input" id="post_archive_from" placeholder="From"
                                               style="width: 80%; text-align: center;"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body jui">
                        <table id="post_archive_table" class="table simple hover">
                            <colgroup>
                                <col style="width: 60px;">
                                <col style="width: 100px;">
                                <col style="width: 60%;">
                                <col style="width: 20%;">
                                <col style="width: 20%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th></th>
                                <th style="text-align: center;"><i class="icon-user"></i> From</th>
                                <th style="text-align: center;"><i class="icon-report"></i> Message</th>
                                <th style="text-align: center;"><i class="icon-like"></i> Like</th>
                                <th style="text-align: center;"><i class="icon-message"></i> Comment</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        <div id="post_archive_paging" class="paging" style="margin-top: 3px;">
                            <a href="#" class="prev">Previous</a>

                            <div class="list"></div>
                            <a href="#" class="next">Next</a>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /Post -->

            <!-- Comment -->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-comments fa-fw"></i> Comment
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li style="text-align: center;">
                                        <label for="comment_archive_limit">Limit</label>
                                        <input type="text" class="input" id="comment_archive_limit" placeholder="Limit"
                                               value="10" style="width: 80%; text-align: center;"/>
                                    </li>
                                    <li class="divider"></li>
                                    <li style="text-align: center;">
                                        <input type="text" class="input" id="comment_archive_from" placeholder="From"
                                               style="width: 80%; text-align: center;"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body jui">
                        <table id="comment_archive_table" class="table simple hover">
                            <colgroup>
                                <col style="width: 60px;">
                                <col style="width: 100px;">
                                <col style="width: 60%;">
                                <col style="width: 20%;">
                                <col style="width: 20%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th></th>
                                <th style="text-align: center;"><i class="icon-user"></i> From</th>
                                <th style="text-align: center;"><i class="icon-report"></i> Message</th>
                                <th style="text-align: center;"><i class="icon-like"></i> Like</th>
                                <th style="text-align: center;"><i class="icon-message"></i> Comment</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        <div id="comment_archive_paging" class="paging" style="margin-top: 3px;">
                            <a href="#" class="prev">Previous</a>

                            <div class="list"></div>
                            <a href="#" class="next">Next</a>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /Comment -->
        </div>
        <!-- /.row -->

        <!-- table templates -->
        <script id="tpl_row" type="text/template">
            <tr>
                <td style="text-align: right;"><!= picture !></td>
                <td><!= from !></td>
                <td><!= message !></td>
                <td style="text-align: center;"><!= like_count !></td>
                <td style="text-align: center;"><!= comment_count !></td>
            </tr>
        </script>

        <script id="tpl_none" type="text/template">
            <tr>
                <td colspan="5" class="none" align="center">Data does not exist.</td>
            </tr>
        </script>

        <script id="tpl_pages" type="text/template">
            <! for(var i = 0; i < pages.length; i++) { !>
            <a href="#" class="page"><!= pages[i] !></a>
            <! } !>
        </script>
        <!-- /table templates -->

        <!-- loading messages -->
        <div id="loading_post_archive_msg" style="display: none; font-size: 20px; color: red;">
            NOW LOADING...
        </div>

        <div id="loading_comment_archive_msg" style="display: none; font-size: 20px; color: red;">
            NOW LOADING...
        </div>
        <!-- /loading messages -->

    </div><!-- /.custom-page-wrapper -->
{% endblock %}

{% block script %}
    <script src="{% static 'js/archive/js/analysis.js' %}" type="text/javascript"></script>
    <script>
        var is_authenticated = {% if user.is_authenticated %}true{% else %}false{% endif %}
        var post_archive_limit = 10;
        var comment_archive_limit = 10;

        var post_archive_url = "/api/groups/{{ groups.0.id }}/post_archive/";
        var comment_archive_url = "/api/groups/{{ groups.0.id }}/comment_archive/";

        var user_id = '{{ fb_user.id }}';

        /**
         * Generate JUI Init
         */
        jui.ready(["ui.paging", "grid.table", "ui.modal"], function (paging, table, modal) {
            /**
             * Generate Archive
             */
            post_archive_paging = paging("#post_archive_paging", {
                pageCount: 10,
                screenCount: detectWidthToScreenCount(),
                event: {
                    page: function (pNo) {
                        changeArchiveByUser(post_archive_url, post_archive_table, post_archive_limit, $("#post_archive_from").val(), user_id, loading_post_archive, pNo);
                    }
                },
                tpl: {
                    pages: $("#tpl_pages").html()
                }
            });

            post_archive_table = table("#post_archive_table", {
                fields: ["", "from", "message", "like_count", "comment_count"],
                scroll: true,
                scrollHeight: 2000,
                resize: true,
                event: {
                    sort: function (column, e) {
                        var className = {
                            "desc": "icon-arrow1",
                            "asc": "icon-arrow3"
                        }[column.order];

                        $(column.element).children("i").remove();
                        $(column.element).append("<i class='" + className + "'></i>");
                    }
                },
                tpl: {
                    row: $("#tpl_row").html(),
                    none: $("#tpl_none").html()
                }
            });

            comment_archive_paging = paging("#comment_archive_paging", {
                pageCount: 10,
                screenCount: detectWidthToScreenCount(),
                event: {
                    page: function (pNo) {
                        changeArchiveByUser(comment_archive_url, comment_archive_table, comment_archive_limit, $("#comment_archive_from").val(), user_id, loading_comment_archive, pNo);
                    }
                },
                tpl: {
                    pages: $("#tpl_pages").html()
                }
            });

            comment_archive_table = table("#comment_archive_table", {
                fields: ["", "from", "message", "like_count", "comment_count"],
                scroll: true,
                scrollHeight: 2000,
                resize: true,
                event: {
                    sort: function (column, e) {
                        var className = {
                            "desc": "icon-arrow1",
                            "asc": "icon-arrow3"
                        }[column.order];

                        $(column.element).children("i").remove();
                        $(column.element).append("<i class='" + className + "'></i>");
                    }
                },
                tpl: {
                    row: $("#tpl_row").html(),
                    none: $("#tpl_none").html()
                }
            });

            /**
             * Loading message
             */
            loading_post_archive = modal("#loading_post_archive_msg", {
                target: "#post_archive_table",
                opacity: 0.5,
                color: 'white',
                autoHide: false,
            });

            loading_comment_archive = modal("#loading_comment_archive_msg", {
                target: "#comment_archive_table",
                opacity: 0.5,
                color: 'white',
                autoHide: false,
            });

            /**
             * Load list
             */
            changeArchiveByUser(post_archive_url, post_archive_table, post_archive_limit, $("#post_archive_from").val(), user_id, loading_post_archive, 1, post_archive_paging);
            changeArchiveByUser(comment_archive_url, comment_archive_table, comment_archive_limit, $("#comment_archive_from").val(), user_id, loading_comment_archive, 1, comment_archive_paging);
        });

        /**
         * Generate Date Picker
         */
        $(function () {
            $("#post_archive_from, #comment_archive_from").datepicker({
                dateFormat: 'yy-mm-dd',
                showMonthAfterYear: true,
                autoSize: true,

                showOtherMonths: true,
                selectOtherMonths: true,

                maxDate: 0,

                changeMonth: true,
                changeYear: true,
                onClose: function (selectedDate) {
                },
                onSelect: function () {
                    switch (this.id) {
                        case 'post_archive_from':
                            changeArchiveByUser(post_archive_url, post_archive_table, post_archive_limit, $("#post_archive_from").val(), user_id, loading_post_archive, 1, post_archive_paging);
                            break;
                        case 'comment_archive_from':
                            changeArchiveByUser(comment_archive_url, comment_archive_table, comment_archive_limit, $("#comment_archive_from").val(), user_id, loading_comment_archive, 1, comment_archive_paging);
                            break;
                    }
                }
            });
        });

        /**
         * Init analysis.html
         */
        $(function () {
            /**
             * Window Resize
             */
            window.onresize = function (event) {
                reLoadPaging(post_archive_paging);
                reLoadPaging(comment_archive_paging);
            }

            /**
             * Mobile Rotate
             */
            $(window).on("orientationchange", function () {
                changeArchiveByUser(post_archive_url, post_archive_table, post_archive_limit, $("#post_archive_from").val(), user_id, loading_post_archive, 1, post_archive_paging);
                changeArchiveByUser(comment_archive_url, comment_archive_table, comment_archive_limit, $("#comment_archive_from").val(), user_id, loading_comment_archive, 1, comment_archive_paging);
            });

            $("#post_archive_limit").on("input", function () {
                post_archive_limit = $("#post_archive_limit").val();
                changeArchiveByUser(post_archive_url, post_archive_table, post_archive_limit, $("#post_archive_from").val(), user_id, loading_post_archive, 1, post_archive_paging);
            });

            $("#comment_archive_limit").on("input", function () {
                comment_archive_limit = $("#comment_archive_limit").val();
                changeArchiveByUser(comment_archive_url, comment_archive_table, comment_archive_limit, $("#comment_archive_from").val(), user_id, loading_comment_archive, 1, comment_archive_paging);
            });

            $("#select_group").change(function () {
                post_archive_url = $("#select_group option:selected").val() + 'post_archive/';
                comment_archive_url = $("#select_group option:selected").val() + 'comment_archive/';

                changeArchiveByUser(post_archive_url, post_archive_table, post_archive_limit, $("#post_archive_from").val(), user_id, loading_post_archive, 1, post_archive_paging);
                changeArchiveByUser(comment_archive_url, comment_archive_table, comment_archive_limit, $("#comment_archive_from").val(), user_id, loading_comment_archive, 1, comment_archive_paging);
            });
        });

    </script>
{% endblock %}
