{% extends "registration/base.html" %}

{% block title %}Account activated{% endblock %}

{% block content-head-left %}
    <h3>Account activated.</h3>
{% endblock %}

{% block content-head-right %}
    <i class="fa fa-smile-o"></i>
{% endblock %}

{% block content %}
    {% load humanize %}
    {% if account %}
        <p>Thanks for signing up! Now you can <a href="{% url 'auth_login' %}">sign in</a>.</p>
    {% else %}
        <p>Sorry, it didn't work. Either your activation link was incorrect, or
            the activation key for your account has expired; activation keys are
            only valid for {{ expiration_days|apnumber }} days after
            registration.</p>
    {% endif %}
{% endblock %}