{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ward :: {% block title %}{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap_login/css/form-elements.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap_login/css/style.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="{% static 'bootstrap_login/ico/favicon.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static 'bootstrap_login/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static 'bootstrap_login/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static 'bootstrap_login/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed"
          href="{% static 'bootstrap_login/ico/apple-touch-icon-57-precomposed.png' %}">

</head>

<body>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    {% block header %}
                        <h1><strong>Ward</strong></h1>
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            {% block content-head-left %}{% endblock %}
                        </div>
                        <div class="form-top-right">
                            {% block content-head-right %}{% endblock %}
                        </div>
                    </div>

                    <div class="form-bottom">
                        {% block content %}{% endblock %}
                        {% block content-related %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 social-login">
                    {% block footer %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Javascript -->
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap_login/js/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'bootstrap_login/js/scripts.js' %}"></script>

<!--[if lt IE 10]>
            <script src="{% static 'bootstrap_login/js/placeholder.js' %}"></script>
        <![endif]-->
<script>
    $(function () {
        /*
         Fullscreen background
         */
        $.backstretch("{% static 'bootstrap_login/img/backgrounds/1.jpg' %}");
    });
</script>

</body>

</html>