{% extends "registration/base.html" %}

{% block title %}Password change successful{% endblock %}

{% block content-head-left %}
    <h3>Password change successful</h3>
{% endblock %}
{% block content-head-right %}
    <i class="fa fa-smile-o"></i>
{% endblock %}

{% block content %}
    <p>Thanks for stopping by; when you come back, don't forget to <a href="{% url 'auth_login' %}">sign in</a>
        again.</p>
    <p>If you want to move the main page, use this <a href="/">link</a>.</p>
{% endblock %}
