{% extends "registration/base.html" %}

{% block title %}Password change{% endblock %}

{% block content-head-left %}
    <h3>Password change</h3>

    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    {% if form.errors %}
        <p style="color: #de615e;">Your input has some errors. Please try again.</p>
        <p style="color: #de615e;">{{ form.non_field_errors.as_text }}</p>
    {% endif %}
{% endblock %}
{% block content-head-right %}
    <i class="fa fa-sign-key"></i>
{% endblock %}

{% block content %}
    <form role="form" method="post" action="" class="login-form">
        {% csrf_token %}
        {% load humanize %}

        <div class="form-group">
            <label class="sr-only" for="id_old_password">Old password</label>
            <input type="password" placeholder="{% if form.old_password.errors %}{{ form.old_password.errors.as_text }}
            {% else %}Old password...{% endif %}"
                   class="form-password form-control"
                   id="id_old_password" name="old_password" required>
        </div>
        <div class="form-group">
            <label class="sr-only" for="id_new_password1">New password</label>
            <input type="password" placeholder="{% if form.new_password1.errors %}{{ form.new_password1.errors.as_text }}
            {% else %}New password...{% endif %}"
                   class="form-password form-control"
                   id="id_new_password1" name="new_password1" required>
        </div>
        <div class="form-group">
            <label class="sr-only" for="id_new_password2">New password confirmation</label>
            <input type="password" placeholder="{% if form.new_password2.errors %}{{ form.new_password2.errors.as_text }}
            {% else %}New Password confirmation...{% endif %}"
                   class="form-password form-control"
                   id="id_new_password2" name="new_password2" required>
        </div>
        <button type="submit" class="btn">Change my password</button>
    </form>
{% endblock %}