{% extends "registration/base.html" %}
{% load socialaccount %}

{% block script %}
    {% providers_media_js %}
{% endblock %}

{% block title %}Sign up{% endblock %}

{% block content-head-left %}
    <h3>Sign up our site</h3>

    <p>Fill out the form to the left (all fields are required), and your
        account will be created; you'll be sent an email with instructions on how
        to finish your registration.</p>
    {% if form.errors %}
        <p style="color: #de615e;">Your input has some errors. Please try again.</p>
        <p style="color: #de615e;">{{ form.non_field_errors.as_text }}</p>
    {% endif %}
{% endblock %}
{% block content-head-right %}
    <i class="fa fa-sign-in"></i>
{% endblock %}

{% block content %}
    <form role="form" method="post" action="" class="login-form">
        {% csrf_token %}
        {% load humanize %}

        <div class="form-group">
            <label class="sr-only" for="id_username">Username</label>
            <input type="text" placeholder="{% if form.username.errors %}{{ form.username.errors.as_text }}
            {% else %}Username...{% endif %}"
                   class="form-username form-control"
                   id="id_username" name="username" required>
        </div>
        <div class="form-group">
            <label class="sr-only" for="id_email">Email</label>
            <input type="email" placeholder="{% if form.email.errors %}{{ form.email.errors.as_text }}
            {% else %}Email...{% endif %}"
                   class="form-email form-control"
                   id="id_email" name="email" required>
        </div>
        <div class="form-group">
            <label class="sr-only" for="id_password1">Password</label>
            <input type="password" placeholder="{% if form.password1.errors %}{{ form.password1.errors.as_text }}
            {% else %}Password...{% endif %}"
                   class="form-password form-control"
                   id="id_password1" name="password1" required>
        </div>
        <div class="form-group">
            <label class="sr-only" for="id_password2">Password confirmation</label>
            <input type="password" placeholder="{% if form.password2.errors %}{{ form.password2.errors.as_text }}
            {% else %}Password confirmation...{% endif %}"
                   class="form-password form-control"
                   id="id_password2" name="password2" required>
        </div>
        <button type="submit" class="btn">Sign up!</button>
    </form>
{% endblock %}

{% block footer %}
    <h3>...or sign up with:</h3>

    <div class="social-login-buttons">
        <a class="btn btn-link-2" href="{% provider_login_url "facebook" method="js_sdk" %}">
            <i class="fa fa-facebook"></i> Facebook
        </a>
        <a class="btn btn-link-2" href="{% provider_login_url "google" method="js_sdk" %}#">
            <i class="fa fa-google-plus"></i> Google
        </a>
    </div>
{% endblock %}