.more-link a {
    color: inherit;
    text-decoration: none;
}

.more-link > a i {
    color: #888;
    margin-left: 5px;
}

.more-link > a:hover {
    text-decoration: underline;
}

.more-link > a:hover i {
    text-decoration: none !important;
}

#custom-page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
}
