.more-link a {
    color: inherit;
    text-decoration: none;
}

.more-link > a i {
    color: #888;
    margin-left: 5px;
}

.more-link > a:hover {
    text-decoration: underline;
}

.more-link > a:hover i {
    text-decoration: none !important;
}

.focus_color > i{
    color: inherit;
    text-decoration: none;
    color: #de615e;
}

.focus_color > i:hover,
.focus_color > i:focus {
    color: #dca7a7;
}